---
import Organiser from '@components/Organiser.astro';
import iatLogo from '@assets/images/iat_logo.png';
import aiasLogo from '@assets/images/AIAS_Bologna.png';
import cecdLogo from '@assets/images/CECD_institucional-horizontal-300x99.png';
import inescIdLogo from '@assets/images/INESC-ID-logo_01.png';
import upvLogo from '@assets/images/logo_UPV_150.png';
import amicaLogo from '@assets/images/Amica-Logo.png';
import arfieLogo from '@assets/images/logo_ARFIE.png';
import hurtLogo from '@assets/images/logo_hurt_350.jpg';

const { ...attributes } = Astro.props;
---

<div class="organisers-container" {...attributes}>
  <Organiser
    href="https://www.iat.eu"
    logo={iatLogo}
    alt="IAT Logo"
    name="IAT"
    country="Germany"
    role="Project coordinator"
  />
  <Organiser
    href="https://www.aiasbo.it/"
    logo={aiasLogo}
    alt="AIAS Logo"
    name="AIAS"
    country="Italy"
  />
  <Organiser
    href="https://www.cecd.pt/"
    logo={cecdLogo}
    alt="CECD Logo"
    name="CECD"
    country="Portugal"
  />
  <Organiser
    href="https://www.inesc-id.pt"
    logo={inescIdLogo}
    alt="INESC-ID Logo"
    name="INESC-ID"
    country="Portugal"
  />
  <Organiser
    href="https://www.upv.es"
    logo={upvLogo}
    alt="UPV Logo"
    name="UPV"
    country="Spain"
  />
  <Organiser
    href="https://www.amica.es"
    logo={amicaLogo}
    alt="Amica Logo"
    name="Amica"
    country="Spain"
  />
  <Organiser
    href="https://www.arfie.info/"
    logo={arfieLogo}
    alt="ARFIE Logo"
    name="ARFIE"
    country="Belgium"
  />
  <Organiser
    href="https://www.hurt.hr"
    logo={hurtLogo}
    alt="HURT Logo"
    name="HURT"
    country="Croatia"
  />
</div>

<style>
.organisers-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

@media (max-width: 1024px) {
  .organisers-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .organisers-container {
    grid-template-columns: 1fr;
  }
}
</style>
