---
import Organiser from '@components/Organiser.astro';
import iatLogo from '@assets/images/iat_logo.png';
import aiasLogo from '@assets/images/AIAS_Bologna.png';
import cecdLogo from '@assets/images/CECD_institucional-horizontal-300x99.png';
import inescIdLogo from '@assets/images/INESC-ID-logo_01.png';
import upvLogo from '@assets/images/logo_UPV_150.png';
import amicaLogo from '@assets/images/Amica-Logo.png';
import arfieLogo from '@assets/images/logo_ARFIE.png';
import hurtLogo from '@assets/images/logo_hurt_350.jpg';

const { ...attributes } = Astro.props;
const { t } = Astro.locals;
---

<div class="organisers-container" {...attributes}>
  <Organiser
    href="https://www.iat.eu"
    logo={iatLogo}
    alt={t('alt_logo_iat')}
    name="IAT"
    country={t('country_germany')}
    role={t('role_coordinator')}
  />
  <Organiser
    href="https://www.aiasbo.it/"
    logo={aiasLogo}
    alt={t('alt_logo_aias')}
    name="AIAS"
    country={t('country_italy')}
  />
  <Organiser
    href="https://www.cecd.pt/"
    logo={cecdLogo}
    alt={t('alt_logo_cecd')}
    name="CECD"
    country={t('country_portugal')}
  />
  <Organiser
    href="https://www.inesc-id.pt"
    logo={inescIdLogo}
    alt={t('alt_logo_inescid')}
    name="INESC-ID"
    country={t('country_portugal')}
  />
  <Organiser
    href="https://www.upv.es"
    logo={upvLogo}
    alt={t('alt_logo_upv')}
    name="UPV"
    country={t('country_spain')}
  />
  <Organiser
    href="https://www.amica.es"
    logo={amicaLogo}
    alt={t('alt_logo_amica')}
    name="Amica"
    country={t('country_spain')}
  />
  <Organiser
    href="https://www.arfie.info/"
    logo={arfieLogo}
    alt={t('alt_logo_arfie')}
    name="ARFIE"
    country={t('country_belgium')}
  />
  <Organiser
    href="https://www.hurt.hr"
    logo={hurtLogo}
    alt={t('alt_logo_hurt')}
    name="HURT"
    country={t('country_croatia')}
  />
</div>

<style>
.organisers-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

@media (max-width: 1024px) {
  .organisers-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .organisers-container {
    grid-template-columns: 1fr;
  }
}
</style>
