---
import { Image } from 'astro:assets';

interface Props {
  href: string;
  logo: ImageMetadata;
  alt: string;
  name: string;
  country: string;
  role?: string;
  height?: number;
  [key: string]: any;
}

const { href, logo, alt, name, country, role, height = 60, ...attributes } = Astro.props;
---

<a href={href} target="_blank" rel="noopener noreferrer" {...attributes}>
  <div class="partner">
    <Image src={logo} alt={alt} height={height} />
    <h3>{name}</h3>
    <span>({country})</span>
    {role && <p>{role}</p>}
    <span class="sr-only"> {Astro.locals.t('opens_in_new_window')}</span>
  </div>
</a>

<style>
  .partner {
    display: grid;
    grid-template-rows: auto auto auto auto;
    justify-items: center;
    text-align: center;
    gap: 0.5rem;
  }
  a {
    text-decoration: none;
    color: var(--color-text);
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem;
    border-radius: 1rem;
  }
  a:hover {
    color: var(--color-link-hover);
    transform: translateY(-4px);
    box-shadow: 0 2px 12px rgba(44, 62, 80, 0.13);
  }
  p {
    margin: 0;
  }
</style>